<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.Record">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClassRec">
        <activity
            android:name="com.example.Record.user_info"
            android:exported="true">

        </activity>
        <activity
            android:name="com.example.Record.ui.login.Login"
            android:exported="false"
            android:label="@string/title_activity_login" >

        </activity>
        <activity
            android:name="com.example.Record.fullscreen"
            android:exported="true"
            android:theme="@style/Splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.Record.clubs"
            android:exported="false" />
        <activity
            android:name="com.example.Record.resource"
            android:exported="false" />
        <activity
            android:name="com.example.Record.sme_info"
            android:exported="false" />
        <activity
            android:name="com.example.Record.paps_info"
            android:exported="false" />
        <activity
            android:name="com.example.Record.bxe_info"
            android:exported="false" />
        <activity
            android:name="com.example.Record.phy_info"
            android:exported="false" />
        <activity
            android:name="com.example.Record.maths_info"
            android:exported="false" />
        <activity
            android:name="com.example.Record.subjects"
            android:exported="false" />
        <activity
            android:name="com.example.Record.friday"
            android:exported="false" />
        <activity
            android:name="com.example.Record.thursday"
            android:exported="false" />
        <activity
            android:name="com.example.Record.wednesday"
            android:exported="false" />
        <activity
            android:name="com.example.Record.tuesday"
            android:exported="false" />
        <activity
            android:name="com.example.Record.monday"
            android:exported="false" />
        <activity
            android:name="com.example.Record.days"
            android:exported="false" />
        <activity
            android:name="com.example.Record.MainActivity"
            android:exported="false" />
    </application>

</manifest>